.contact{
				display: flex;
				flex-direction: column;
				padding: 2.5rem;
				align-items: center;
				margin-top: 2rem;
				gap: 2rem;
}

.contact-title{
				font-size: 32pt;
				color: black;
				font-weight: bold;
}

.fields{
				display: flex;
				flex-direction: column;
				gap: 2rem;
}
