.logo{
				width: 15%;
}

.link-logo{
				display: flex;
				margin-left: auto;
				align-self: center;
				color: black;
				text-decoration: none;
				font-weight: bold;
}

.name{
				font-size: 1.4rem;
				margin: auto;
				font-weight: bold;
}
